# Dependencies
/node_modules
/bun.lockb

# Build output
ovh-dynhost-updater*
!ovh-dynhost-updater-windows-x64.exe
ovh-dynhost-updater-windows-x64.exe
ovh-dynhost-updater
ovh-dynhost-updater-linux-x64
ovh-dynhost-updater-darwin-x64
ovh-dynhost-updater-darwin-aarch64


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db
